
<h1>
<% if @answer.correct %>
Complimenti, la risposta è corretta!!!   :)
<% else %>
Attenzione, la risposta è sbagliata!!!   :(
<br>
<br>
<br>
<br>
<p>        
        <a href="/front_end/question"> <b><font size=5>Ritenta, sarai più fortunato!!! </font></b></a>
</p>

<% end %>
</h1>